body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background-color: #f8fafc;
  color: #0f172a;
}

h1,h2,h3,h4,h5 {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
}